.side-bar {
  @include mq(lg) {
    width: calc((80% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

.main-content [
  @include mq(lg) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
